.logo {
  color: var(--logo);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
}

.logo__accent {
  color: var(--accent-color);
}

.footer__logo {
  color: var(--white-color);

  display: inline-block;
  margin-bottom: 20px;
  margin-right: auto;
}
